<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Nasi Opiekunowie</div>
    <nav class="crumbs">
        <ol>
            <li class="crumb"><a href="/">Strona Główna</a></li>
            <li class="crumb"><a href="/NaszePsiaki">Nasze Psiaki</a></li>
            <li class="crumb"><a href="/NasiOpiekunowie">Nasi Opiekunowie</a></li>
            <li class="crumb"><a href="/Kontakt">Kontakt</a></li>
        </ol>
    </nav>
</body>
</html>